* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #969696;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.container {
    width: 1110px;
    margin: 0 auto;
}